# Core analysis tools
numpy
pandas
scikit-learn
matplotlib
seaborn
plotly

# Machine learning
xgboost
tensorflow
keras

# Web + API
streamlit
Flask

# NLP
nltk
transformers

# Utility
category_encoders
datasist
ip2geotools
yfinance
pyyaml
requests

# Jupyter (اختياري)
jupyter
